/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1 {
  font-family: cursive;
  color: gold;
  font-size: 50px;
}

body {
  background-color: blue;
}

.ntd a {
  font-family: cursive;
  color: gold;
  font-size: 20px;
}

.back a {
  font-family: cursive;
  color: gold;
  font-size: 20px;
}

td {
  color: white;
}

th {
  color: white;
}
label {
  color: white;
}
